
<h1>Acerca de Camilo</h1>

<p>Esta aplicación fue desarrollada inicialmente en el contexto de la materia Elementos de Ingeniería de Software de la Universidad Nacional de Quilmes, Argentina.</p>

<p>Desde el punto de vista académico la aplicación no es más que una excusa para poner en práctica las diversas técnicas y conceptos vistos en la materia:</p>

<ul>
<li>Desarrollo iterativo</li>
<li>Visual Story Mapping</li>
<li>User Stories</li>
<li>Visual management</li>
<li>Simple Design</li>
<li>Behaviour-Driven Development</li>
<li>Test-Driven Development</li>
<li>Collective ownership</li>
<li>Configuration Management</li>
<li>Continous Integration & Delivery</li>
</ul>

<p>Desde el punto de vista funcional, la aplicación permite recolectar feedback de la performance de un evento. La historia que resumen el contexto de la aplicación es: "Soy orador de un evento y quiero tener una forma simple de recolectar feedback de los asistentes. Entonces, utilizo esta herramienta para dar de alta el evento y generar un link que reparto en los asistentes para que me den su feedback."</p>

<p>La aplicación está construida con las siguientes herramientas:</p>

<ul>
<li>Ruby como lenguaje de programación</li>
<li>Padrino como framework de desarrollo web</li>
<li>Cucumber como herramienta de soporte a BDD</li>
<li>Rspec como herramienta de pruebas automátizadas</li>
<li>SimpleCov como herramienta de medición de cobertura</li>
<li>Git como controlador de versión, en particular usamos el servicio provisto por GitHub</li>
<li>Code Climate como generador de métricas de código</li>
<li>Trello como herramienta de gestión</li>
<li>Travis como servidor de integración contínua</li>
<li>Rake y Jenkins como herramientas de soporte para automatización del proceso de despliegue</li>
<li>Heroku como ambiente de prueba y producción</li>
</ul>

<p>El nombre Camilo se debe a <a href="http://en.wikipedia.org/wiki/Camilo_Cienfuegos">Camilo Cienfuegos</a>, héroe de la revolución Cubana. Cuenta la historia que luego del triunfo de la revolución, Fidel, durante uno de sus discursos le consultó a Camilo que se encontraba a su lado: <i>¿Voy bien, Camilo?</i>, a lo que Camilo contesto: <i>Vas bien, Fidel</i>.</p>

