<div class="alert centered">
Gracias por tu visita. Camilo está aún en construcción, mencionanos en un tweet (<a href="https://twitter.com/voybiencamilo">@voybiencamilo</a>) y te contactaremos en cuanto esté Camilo listo.
</div>
