
<form method='post' action='/auth/developer/callback' noValidate='noValidate'>
	    <%= csrf_token_field %>

<label for='name'>Name:</label>
<input type='text' id='name' name='name'/>
<label for='email'>Email:</label>
<input type='text' id='email' name='email'/>
<button type='submit'>Sign In</button>      

</form>