<div class="well">
<form class="centered">
        <h1>Detalles del evento</h1>
        <input type="text" id="event[name]" placeholder="nombre del evento" class="large" />
        <input type="text" id="event[date]" placeholder="fecha:aaaa-mm-dd" />
        <button type="button" class="btn big" id="newButton">Guardar</button>
    </form>
</div>
